*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6rem;
    padding: 20px;
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    margin-bottom: 10px;
    flex-basis: 100%;
}

.all {
    max-width: 768px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-bottom: 1px solid #000;
}

.wrapper:last-of-type {
    border: none;
}

.list {
    margin-bottom: 50px;
    flex-basis: 100%;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #838383;
}

@media screen and (max-width: 767.98px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}